@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .nav_bar_components {
    @apply space-x-2 hover:border-gray-600 border-white border-b py-2 hover:cursor-pointer font-light text-lg md:text-2xl;
  }
}

body {
  /* background-color: #ededed; */
}
